body, html {
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

body {
    position: relative; 
}

.bg{
    background-image: url("../img/background.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* main section */
.navbar {
    background: rgba(0, 0, 0, 0.6);
}

.main-section {
    background: rgb(200, 54, 54); /* This is for ie8 and below */
    background: rgba(0, 0, 0, 0);
    color: white;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 180px;
}

.myImage {
    padding-bottom: 10px;
}

.intro{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-width: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button{
    padding-top: 20px;
}

.btn {
    color: white;
    background-color: transparent;
    border-color: #ccc;
    border-radius: 0;
    width: 100px;
}
/* main section */

/* second section */

.bg2{
    background-image: url("../img/bg3.jpg");
    height: 100%; 
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

 .second-section {
    background: rgb(200, 54, 54); /* This is for ie8 and below */
    background: rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    margin-bottom: 0;

}

.second-section .btn {
    color: black;
    border-color: black;
    width: 150px;
}
.second-section .btn:hover {
    background-color:#808080;
    color: white!important;
}
.glyphicon {
    margin-left: 10px;
}

.second-section h1 {
    font-family: 'Dancing Script', cursive;
}
/* second section */

/* third section */
.bg3 {
    background-color: #800000;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jb1 {
    float: left;
    margin-bottom: 1px;
    margin-top: 60px;
    padding-top: 0px;
    color: white;
    background: rgba(0, 0, 0, 0);

}
.jb2{
    float: left;
    margin-bottom: 1px;
    margin-top: 60px;
    padding-top: 0px;
    color: white;
    font-family: 'Dancing Script', cursive;

    background: rgba(0, 0, 0, 0.7);
        -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari 3-8 */
    transform: rotate(-17deg);
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
 
.card {
  display: block; 
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
  transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,1),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-content p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-content p:hover{
  overflow: visible;
  white-space: normal; 
  height:auto;  
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight:600;
  text-transform: uppercase;
}
.card-read-more:hover{
    background-color: #e6e6e6;
}

.card a:hover{
    text-decoration: none;
}
/* third section */
/*fourth section*/

.bg5 {
    background-color: #196719;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*fourth section*/
/*footer*/
.bg4 {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    font-size: 25px;
    color: white;
    padding: 20px;
    font-weight: 600;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;


}
.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.list-inline a {
    text-decoration: none;
    color: white;
}

.list-inline a:hover{
    color: black;
}
/*footer*/
@media only screen and (max-width: 689px) {
    .bg2 {
        display:none;
    }
    .second-section{
        height: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .bg3, .bg5 {
        height: auto;
    }
}

@media only screen and (max-width: 991px) {
    .main-section {
    margin-left: 0;
    margin-right: 0;
    }
}
